apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
  namespace: observability
data:
  kibana.yml: |
    server.host: "0.0.0.0"
    elasticsearch.hosts: ["http://elasticsearch.observability.svc.cluster.local:9200"]
    elasticsearch.username: "elastic"
    elasticsearch.password: "m3lnyto3y_3pmOSE8*Qh"
