apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
  namespace: observability
data:
  kibana.yml: |
    server.host: "0.0.0.0"
    elasticsearch.hosts: ["http://elasticsearch.observability.svc.cluster.local:9200"]
    # Elastic SA Token for Kibana
    elasticsearch.password: "QUFFQUFXVnNZWE4wYVdNdmEybGlZVzVoTDJ0cFltRnVZUzEwYjJ0bGJqcEJTbGw1TWtobGRsUk5aVlJKV0ZGWFZTMUhiVkpSCg=="
