apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarqube
  namespace: sonarqube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarqube
  template:
    metadata:
      labels:
        app: sonarqube
    spec:
      containers:
        - name: sonarqube
          image: sonarqube:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "500Mi"
              cpu: "500m"
          ports:
            - containerPort: 9000
          volumeMounts:
            - name: sonarqube-pvc
              mountPath: /opt/sonarqube/data # persistent data directory
      volumes:
        - name: sonarqube-pvc
          persistentVolumeClaim:
            claimName: sonarqube-pvc
