apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: observability
data:
  logstash.conf: |
    input {
      beats {
        port => 5044
      }
    }
    output {
      elasticsearch {
        hosts => ["http://elasticsearch.observability.svc.cluster.local:9200"]
        index => "logs-%{+YYYY.MM.dd}"
        user => "elastic"
        password => "m3lnyto3y_3pmOSE8*Qh"
      }
    }